APP_PORT=8080
DATABASE_PATH=/app/data/sqlite/tableflow.db
BASE_ORDER_URL=
# BASE_ORDER_URL=http://192.168.4.1
PUBLIC_BASE_URL=
# PUBLIC_BASE_URL=http://192.168.4.1
WIFI_SSID=TABLEFLOW_ORDER
WIFI_PASSWORD=order1234
WIFI_SECURITY=WPA
