node_modules/
server/node_modules/
.env
*.log
data/*.db
data/*.db-*
data/uploads/*
!data/uploads/.gitkeep
!data/uploads/menu/
data/uploads/menu/*
!data/uploads/menu/.gitkeep
data/**/*.db
data/**/*.db-*
